@model SOL_JHEREMIAS_PULACHE.Models.Prestamo

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro de que quieres eliminar este registro?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Libro:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libro.Nombre)
        </dd>



        <dt>
            Usuario:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombres)
        </dd>

        <dt>
            Tipo Prestamo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPrestamo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPrestamo):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
