@model IEnumerable<SOL_JHEREMIAS_PULACHE.Models.TipoPrestamo>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de prestamo </h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IdTipoPrestamo },
                                     new
                                     {
                                         @class = "btn-style bg-primary"
                                     })
                        @Html.ActionLink("Detalle", "Details", new { id = item.IdTipoPrestamo },
                                                         new
                                                         {
                                                             @class = "btn-style bg-info"
                                                         })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdTipoPrestamo },
                                          new
                                          {
                                              @class = "btn-style bg-danger"
                                          })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
