<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Préstamos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.js"></script>
    <style>
        .btn-style {
            padding: 0.5rem 1rem;
            border-radius: 0.50rem;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestión de Préstamos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Libros", "Index", "Libros")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Préstamos", "Index", "Prestamos")</li>
                    <li>@Html.ActionLink("Tipos de Usuario", "Index", "TipoUsuarios")</li>
                    <li>@Html.ActionLink("Tipos de Prestamo", "Index", "TipoPrestamos")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_NotificationPanel")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestión de Préstamos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
